.skillInput {
    width: 4em;
}

#result {
    white-space: nowrap;
    width: 600px;
}

.cardContainer {
    white-space: nowrap;
    width: fit-content;
    border-style: solid;
    padding: 5px;
    border-radius: 10px;
}


.skillHeadContainer {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.skillHeading {
    font: bold 16px;
    margin: 0;
}

.container {
    margin: 5px 0px;
}

.expectation {
    font: 25px bold;
    margin: 0px auto;
}

.skillDescription {
    margin: 5px 0px;
}

.switchframe {
    margin: 0 10px 3px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    font-size: 12px;

    position: relative; 
    width: 36px;
    background: #00000000;
}

.switchframe input[type="checkbox"] {
    display: none;
}

.switchframe label {
    display: block;
    box-sizing: border-box;
    height: 18px;
    border: 2px solid #555555;
    border-radius: 9px;
}

.switchframe input[type="checkbox"]:checked + label {
    border-color: #555555;
}

.switchframe #swImg {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #555555;
    border-radius: 9px;
    transition: .2s;
}

.switchframe input[type="checkbox"]:checked ~ #swImg {
    pointer-events: none;
    transform: translateX(18px);
    background: #ffffff;
}

.songInput {
    width: 4em;
}

.songTime {
    margin: 2px 0;
}

#card-1 {
    background: #ff000078;
}

#card-2 {
    background: #0000ff66;
}

#card-3 {
    background: #00cc0066;
}

#card-4 {
    background: #ffff0066;
}

#card-5 {
    background: #ff00ff66;
}

.content {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 600px;
}